# Face Verification

This is 1:1 authentication means that the system ensures the person is actually who claims the identity. This method is more accurate and secure than Face Identification but inferior in user-friendliness due to needing for other authentication like RFID, NFC, KTP, or printed QRCode.

![Face Verification](<../.gitbook/assets/Face Verification.jpg>)

User registers by taking a frontal picture of their face and adding a unique identifier such as citizen ID or employee ID to the system. After the registration is completed, the system can verify whether the ID belongs to the correct user.
